<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <a class="navbar-brand" href="#">Library</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/get-book" >Home <span class="sr-only">(current)</span></a>
        </li>
       
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/get-book">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/student-data">Student Details</a>
        </li> -->
       
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-info my-2 my-sm-0"(click)="logout()">Logout</button>&nbsp;&nbsp;
            </form>           
    </ul>
   
    </div>
  </nav>
  <div class="form">
      <form action=" " style="display: inline-block; align-content: center;" #form="ngForm" (ngSubmit)="retBook(form)">
        
          <div class="card card-body" style="width:500px; align-content: center;">
            <h1>Issue Book</h1>
            <hr>
            <label for="bid"><b>Book ID</b></label>
            <input type="number" placeholder="Enter Book ID you want to change" name="bid" required class="form-control" #b_id="ngModel" ngModel>
        
  
            <label for="status"><b>Status</b></label>
            <input type="text" placeholder="Enter as 'return' Here" name="status" required class="form-control" #status="ngModel" ngModel>
        
            <button class="registerbtn"type="submit">Request To Return</button>
          </div>
        
          <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn" >Cancel</button>
          </div>
        </form>
      </div>
  
  
