

  <div class="form">
      <form action=" " style="display: inline-block; align-content: center;"  #form="ngForm" (ngSubmit)="addProduct(form)">
        
          <div class="card card-body" style="width:500px; align-content: center;">
            <h1>Add Products</h1>
            <hr>
        
            <label for="name"><b>Product Name</b></label>
            <input type="text" name="name" id="name" class="form-control" placeholder="enter name..." #name="ngModel"
            ngModel>
  
            <label for="category"><b>Product Category</b></label>
            <input type="text" name="category" id="category" class="form-control" placeholder="enter category..."
            #category="ngModel" ngModel>
  
            <label for="quantity"><b>Quantity</b></label>
            <input type="number" name="quantity" id="quantity" class="form-control" placeholder="enter quantity..."
            #quantity="ngModel" ngModel>
            
            <label for="quantity"><b>Price</b></label>
            <input type="number" name="price" id="price" class="form-control" placeholder="Enter price..." #price="ngModel"
            ngModel>
            <label for="quantity"><b>Company</b></label>
            <input type="text" name="company" id="company" class="form-control" placeholder="Enter Company Name..." #company="ngModel"
            ngModel>
            <button class="registerbtn"type="submit">Add Product</button>
          </div>
        
          <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn" >Cancel</button>
          </div>
        </form>
      </div>
  
  