<div id="slider">
    <figure>
        <img style="width:500px; height:500px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcShz8RKyC-nkNs9LQi3Z4WEFvZO74sSWV-OiQwCXrfyWljyyJXu" hspace="50">
        <img style="width:500px; height:500px;"src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ9RXEUKzbQ0v4W0RrDEJI10SPb7yyGL6251gFL5epzgx39CU8L" hspace="50">
        <img style="width:500px; height:500px;"src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT-tc4Escy5D2-se_EmpvGYUggHPPRju7i-C7Dl5rd8SMmmgkMC" hspace="50">
        <img style="width:500px; height:500px;"src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSxziuvPFfHND-0y7Y1W4aYhn3MhTNgPbsGbOD2Osq4_3gXgduI" hspace="50">
        <img style="width:500px; height:500px;"src="https://cdn2.eyeem.com/thumb/e2769fdaa48d3aa8d385dff3b86d6b17eb44fb1f-1454885983591/w/1280">

    </figure>
</div>
