<!-- <input type="search" name="search" [(ngModel)]='search' placeholder="Enter name of student to search..."
class="form-control col-md-4 offset-md-4 mb-3 mt-5">
<div class="panel-body">
    <table  class="table table-hover table-sm" >
    
        <thead class="thead-light">
            <tr>
                <th>STUDENT_ID</th>
                <th>NAME</th>
               <th>USN</th>
            </tr>
        </thead> -->
        <!-- | filter:search; index as i" -->
    
        <!-- <tbody>
             <tr *ngFor="let students of student">
                <td>HI</td>
                <td>{{students.sname}}</td>
                <td>{{students.usn}}</td>
                
                <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" 
                (click)="selectuser(user)">Edit</button>
            </td>
           
            <td>
                <button (click)="deleteData(student.student_id)" type="button" class="btn btn-outline-danger">delete</button>
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" 
                (click)="selectuser(user)">Add book</button>
            </td>
            <td>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" 
            (click)="selectuser(user)">Remove book</button>
        </td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">update form</h5>
                      <div class="modal-body" *ngIf="selectedUser">
                        <form action="" class="" #form="ngForm"(ngSubmit)="updateData(form)">
                          <h1 class="text-center bg-dark text-white">Register</h1>
                          <input type="number" name="student_id" #id="ngModel" ngModel [(ngModel)]="selectedUser.student_id" >
                          <div class="form-group">
                              <input type="text" name="fname" id="fname" class="form-control" placeholder="enter fname..." 
                              #fname="ngModel"  ngModel required [(ngModel)]="selectedUser.fname">
                          </div>
                          <div class="form-group">
                            <input type="text" name="lname" id="lname" class="form-control" placeholder="enter lname..." 
                            #lname="ngModel"  ngModel required [(ngModel)]="selectedUser.lname">
           
                        </div><div class="form-group">
                            <input type="text" name="gender" id="gender" class="form-control" placeholder="enter gender..." 
                            #gender="ngModel"  ngModel required [(ngModel)]="selectedUser.gender">
           
                        </div><div class="form-group">
                            <input type="text" name="" id="email" class="form-control" placeholder="enter email..." 
                            #email="ngModel"  ngModel required [(ngModel)]="selectedUser.email">
           
                        </div><div class="form-group">
                            <input type="text" name="phoneno" id="phoneno" class="form-control" placeholder="enter phoneno..." 
                            #phoneno="ngModel"  ngModel required [(ngModel)]="selectedUser.phoneno">
                        </div>
                         <div class="form-group">
                      <button type="submit" class="btn btn-outline-success float-right" [disabled]="form.invalid">Update</button>
                      </div>
                      </form>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>  -->
                     
                        